{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSpacing": true,
  "racketSameLine": true,
  "arrowParens": "always",
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
