services:
  db:
    image: docker.io/postgres:17.4-bookworm
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: nicolas
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: dex
  admin:
    image: docker.io/dpage/pgadmin4:9.1.0
    restart: always
    ports:
      - 8001:80
    environment:
      PGADMIN_DEFAULT_EMAIL: ciao@ciao.com
      PGADMIN_DEFAULT_PASSWORD: password
